<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackjack</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/blackjack.css') }}">
        <script src="{{ url_for('static', filename='blackjack.js') }}"></script>
    </head>

    <body>
        <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <!-- <img id="hidden" src="../static/cards/BACK.png"> -->
            <img id="hidden" src="{{ url_for('static', filename='./cards/BACK.png') }}">
        </div>

        <h2>You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <div class="button-container">
            <button id="hit" class="action-button">Hit</button>
            <button id="stay" class="action-button">Stay</button>
        </div>
        
        <p id="results"></p>

        <div class="button-container">  
            <form action="{{ url_for('games')}}">
              <button class="action-button" type="submit">Back</button>
            </form>
            <button class="action-button" onclick="window.location.reload();">Reset</button>
        </div>          

    </body>
</html>