<!DOCTYPE html>
<html lang="en">
<head>
    <title>Currency Exchange Rates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="nav-bar">
        <a href="{{ url_for('index')}}">Home</a>
        <a href="{{ url_for('games')}}">Games</a>
        <a href="{{ url_for('userinfo')}}">User Info</a>
    </div>

    <h1>{{ currency}} to JJETTCOIN Exchange Rate</h1>
    <p>Rate: {{ rate }}</p>

</body>
    
    

</html>